---
// @ts-ignore
import Section from "src/components/Section.astro";
// @ts-ignore
import { basics } from "src/cv.json";

const { summary } = basics;
---

<Section title="Sobre mí">
  <p>{summary}</p>
</Section>
