---
// @ts-ignore
import Layout from "@/layouts/Layout.astro";
// @ts-ignore
import About from "@/components/sections/About.astro";
// @ts-ignore
import Education from "@/components/sections/Education.astro";
// @ts-ignore
import Experience from "@/components/sections/Experience.astro";
// @ts-ignore
import Hero from "@/components/sections/Hero.astro";
// @ts-ignore
import Projects from "@/components/sections/Projects.astro";
// @ts-ignore
import Skills from "@/components/sections/Skills.astro";
// @ts-ignore
import KeyboardManager from "@/components/KeyboardManager.astro";
// @ts-ignore
import { basics } from "@/cv.json";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem 2rem;
    margin: auto;
    width: 100%;
  }
</style>
